<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YalCommand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YalCommand.Properties.Settings>
            <setting name="Entries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>~reboot|%windir%\system32\shutdown.exe|-r|True</string>
                        <string>~shutdown|%windir%\system32\shutdown.exe|-s|True</string>
                        <string>~cmdrun|%windir%\system32\cmd.exe|/C !n!|False</string>
                        <string>~nopen|%windir%\system32\notepad.exe|!1!|False</string>
                    </ArrayOfString>
                </value>
            </setting>
        </YalCommand.Properties.Settings>
    </userSettings>
</configuration>