<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Yal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Yal.Properties.Settings>
            <setting name="FoldersToIndex" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%USERPROFILE%\Desktop|.exe,.lnk,.txt,.pdf,.mkv,.mp4,.avi,.mp3,.doc,.docx,.ppt,.pptx,.odt,.odp,.xls,.xlsx|100</string>
                        <string>%APPDATA%\Microsoft\Windows\Start Menu|.lnk,.url|100</string>
                        <string>%ProgramData%\Microsoft\Windows\Start Menu\Programs|.lnk,.url|100</string>
                        <string>%APPDATA%\Microsoft\Internet Explorer\Quick Launch\User Pinned\TaskBar|.lnk,.url|100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DateLastIndexed" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VAlignment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HAlignment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveWithCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusKey" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="FocusModifier" serializeAs="String">
                <value>ALT</value>
            </setting>
            <setting name="AutoIndexingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterfaceColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="MaxItems" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxVisible" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SearchDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ExtensionInFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoIndexing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MatchAnywhere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxHistorySize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="FoldersToExclude" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="PluginSelectionsInHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxPluginItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FuzzyMatching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PluginItemsFirst" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxNameSize" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="FuzzyMatchingPluginItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowItemIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateFirstLaunched" serializeAs="String">
                <value />
            </setting>
            <setting name="TimesActivated" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoUpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </Yal.Properties.Settings>
    </userSettings>
</configuration>
