<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YalClipboardHistory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YalClipboardHistory.Properties.Settings>
            <setting name="MaxHistorySize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="StoreInDb" serializeAs="String">
                <value>True</value>
            </setting>
        </YalClipboardHistory.Properties.Settings>
    </userSettings>
</configuration>